.Uxhero-directory-container{
    display: flex;
    padding: 3rem 0 1rem 2rem;
    color: #818080;
}
.Uxhero-directory{
    padding: 0 1rem 0 0;
}

.Uxhero-arrow{
    padding: 0 0 0 1rem;
}

.Uxhero-endown{
    display: flex;
}

.Uxhero-current{
    color: #0a65cc;
    padding-top: 1rem;
}

.Uxhero-container{
    display: flex;
    padding: 0 0 2rem 2rem;
}

.Uxhero-right-container{
    width: 500px;
    margin: 0 0 0 2rem;
}


.Uxhero-right-container h2{
    font-size: 2.5rem;
}

.Uxhero-right-container .Uxhero-text{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.Uxhero-rating-button-container{
    display: flex;
}

.Uxhero-rating-container{
    display: block;
    margin: 0 0 0 1.5rem
}

.Uxhero-free{
    width: 170px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    background-color: #e99700;
    color: #fff;
}

.Uxhero-rating{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 1.5rem;
    letter-spacing: 1;
    text-align: center;
}

.video-icon-text{
    letter-spacing: 1;
}

.Uxhero-creator{
    margin: 1.2rem 0 1.2rem 0;
}

.Uxhero-creator span{
    color: #0a65cc;
}

.Uxhero-free-text{
    font-size: 1.2rem;
    font-weight: bold;
}

.Uxhero-enroll{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: .5rem;
    margin-right: 4rem;
    outline: none;
    font-size: 1rem;
    background-color: #0a65cc;
    border: 1px solid #0a65cc;
    color: #fff;
    cursor: pointer;
}

.Uxhero-enroll:hover,
.Uxhero-download:hover{
    background-color: #fff;
    color: #0a65cc;
    border: 1px solid #0a65cc;
    transition: all 0.3s ease-in-out;
}

.Uxhero-download{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: .5rem;
    outline: none;
    font-size: 1rem;
    background-color: #0a65cc;
    color: #fff;
    border: 1px solid #0a65cc;
    cursor: pointer;
}

/*link1,link2,link3 section*/
.links-container ul {
  list-style: none;
  border-bottom: 1px solid #cecbcb;
}

.links-container ul li {
  display: inline-block;
  margin: .6rem 1rem 0 0.5rem;
  color: #818080;
  font-size: 1rem;
  border: 3px solid transparent;
  cursor: pointer;
  padding-bottom: 0.6rem;
}

.links-container ul .active1,
.links-container ul .active2,
.links-container ul .active3 {
  color: #000;
  border-bottom: 3px solid #0a65cc;
}

.links-container ul li:hover {
  border-bottom: 3px solid #0a65cc;
}

.link-1-content p{
    margin: 1rem 0 2rem 3rem ;
}

.link-1-content .link-1-content-top{
    margin-top: 2.5rem;
}

.link-2-content{
    margin: 0 0 0 3rem;
}

.link-2-content .link-2-content-top{
    margin-top: 2.5rem;
}

.link-2-content p{
    margin-left: 1.5rem;
}

.link-2-content .last,
.link-1-content .last{
    margin-bottom: 3rem;
}

/*Rating*/
.feedback-title{
    color: #000;
    font-size: 1.5rem;
    margin: 2.5rem 0 1rem 3rem;
}
.user-rating{
    color: gold;
}

.feedback-container{
    display: flex;
    margin: 2rem 0 0 3rem;
}

.student-feedback{
    margin: 0 4rem 0 0;
}

.feedback-rate{ 
    font-size: 3rem;
    margin: 1rem 0 1rem 0;
}

.feedback-subtitle{
    color: #000;
}

.student-rating-container{
    display: flex;
}

.student-rating-bar{
    width: 350px;
    height: .5rem;
    background-color: #000;
    overflow: hidden;
    margin-bottom: 1.4rem;
}

.blank-rate{
    background-color: #818080;
}

.five,
.four,
.three,
.two,
.one{
    margin-bottom: .7rem;
}

/*Review Section*/
.Review-title{
    color: #000;
    font-size: 1.5rem;
    margin: 5rem 0 1rem 3rem;
}

.Review-container{
    display: flex;
    margin: 0 0 0 3rem;
}

.Review-date{
    margin: 2rem 0 0 2rem;
}

.Review-content{
    margin-left: 3rem;
    width: 550px;
    font-size: 1.1rem;
    line-height: 1.5;
}


/*Paid frame*/
.payframe-container{
    display: flex;
    background: #e7e3e3;
    padding: 2rem 0 0 2rem;
}

.payframe-header{
    font-size: 1.3rem;
    padding-bottom: 1rem
}

.payframe-grant{
    width: 350px;
    height: 120px;
    border: 1px solid;
    background: #fff;
    margin-bottom: 2rem;
}

.attention{
    position: absolute;
    height: 30px;
    margin: 2.5rem 0 0 1.5rem ;
}

.attention-text{   
    padding: 1.5rem 0 0 4.3rem;
    width: 250px;
    line-height: 1.2;
}

.grant-btn{
    padding: 1rem;
    margin-bottom: 6rem;
    width: 300px;
}

.paid-options{
    display: flex;
    margin: 0 0 0 7rem;
}

.paid-options h3{
    font-size: 1.2rem;
    font-weight: bold;
}

.paid-options ul li{
    list-style: none;
    padding: 1rem 5rem 1rem 0;
}

.paid-options ul li .good-mark{
    color: green;
    padding-right: 1rem;
}

.paid-options ul li .bad-mark{
    color: red;
    padding-right: 1rem;
}

/*Course Card*/
.card-container{
    margin-left: 3rem;
}

.herobase-head{
    margin-top: 3rem;
}

.hero-card-container{
    display: flex;
}

.card-1{
    width: 300px;
    margin-right: 2rem;
}

.card-1 img{
    width: 100%;
    height: 50%;
}

.title-pay{
    display: flex;
}

.card-title{
    margin: 1rem 3rem 0 2rem;
    color: #d30303;
    font-size: .8rem;
}

.card-title-others{
    margin: 1rem 3rem 0 2rem;
    color: #0a65cc;
    font-size: .8rem;
}

.card-title-tab{
    margin: 1rem 1.5rem 0 2rem;
    color: red;
    background-color: #dd8080;
    font-size: .8rem;
    padding: .3rem;
}

.card-pay{
    margin: 1rem 0 0 6rem;
    font-size: 1.2rem;
    color: #0a65cc;
}

.card-course-title{
        margin-left: 2rem;
        font-size: 1rem;
}

.rate-user{
    display: flex;
}

.user-rate{
    margin: 0 0 1rem 2rem
}

.rate-user-star{
    color: gold;
    margin-right: .7rem;
}

.avail-user{
    margin: 0 0 1rem 3rem
}

.herobase-btn{
    border: 1px solid #0a65cc;
    color: #0a65cc;
    outline: none;
    padding: 1rem;
    float: right;
    margin-right: 12rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.herobase-btn-container{
    width: 100%;
    height: 80px;
}

.fade-little{
    color: #818080;
    margin-left: .3rem;
}