.home-top-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 7rem;
    margin: 1.6rem 8rem 8rem 4rem;
}


.second-first-row1 {
    display: flex;
    gap: 2rem;
}

.first-image-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.second-first {
    margin: .6rem;
    padding: 1rem;
}

.first-image {
    width: 350px;
}

.second-course-main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
}

.home-rows {
    margin-bottom: 6rem;
    margin-top: 1.6rem;

}

.second-course-main-container .home-head-text {
    width: fit-content;
    margin: 0 7.5rem;
    font-size: 1rem;
}

.second-first-header {
    text-align: left;
}

.second-card-row1 {
    padding: 0;
    margin: 0 6rem;
}

.second-card {
    margin: .6rem;
    padding: 1rem;

}

.it-image {
    width: 300px;
}

.second-title-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    flex-wrap: wrap;
}

.second-title-text .saved-price {
    font-size: .8rem;
}

.second-text-price {
    color: rgba(128, 50, 40, 1);
    background-color: rgba(255, 224, 220, 1);
    font-size: .4rem;
    padding: .2rem;
}

.second-text-priceD {
    color: rgba(128, 50, 40, 1);
    font-size: .4rem;
    padding: .2rem;
}

.second-text-priceDE,
.saved-text-priceM {
    color: rgba(10, 101, 204, 1);
    font-size: .4rem;
    padding: .2rem;
}

.second-price {
    color: rgba(10, 101, 204, 1);
}

.second-card h6 {
    width: 180px;
    font-size: .6rem;
    color: rgba(37, 50, 75, 1);
}

.second-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-star-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .1rem;
}

.second-star-left img {
    width: 12px;
    height: 12px;
}

.second-user-count img {
    width: 12px;
    height: 12px;
}

.second-user-count {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    font-size: .6rem;
}

.second-star-left p {
    font-size: .6rem;
}

.second-user-count p {
    font-size: .4rem;
    font-weight: bold;
    color: rgba(81, 91, 111, 1);
}

.second-user-count span {
    color: rgba(168, 173, 183, 1);
    font-size: .5rem;
}

.second-footer {
    background-color: rgba(2, 20, 41, 1);
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    gap: 5rem;
    border-radius: 0 0 10px 15px;
}

.second-footer-first,
.second-footer-second,
.second-footer-third,
.second-footer-fourth,
h3 {
    color: rgba(37, 50, 75, 1);
}

.second-footer-first img {
    width: 100px;
}

.second-footer-first p {
    width: 400px;
    line-height: 1.8;
    color: rgba(81, 91, 111, 1);
    font-size: .8rem;
}

.second-footer-help p {
    font-size: .8rem;
}

.second-footer-first,
.second-footer-second,
.second-footer-third,
.second-footer-fourth {
    color: rgba(81, 91, 111, 1);
    cursor: pointer;
}

.second-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

.second-socials img {
    width: 20px;
}

.second-footer-fourth {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
}

.second-general-container {
    border-radius: 10px;
}