/* StudentProfile.css */
.student-profile {
    padding: 20px;
}

/* WarningModal.css */
.logout-general-box{
max-width: 100%;
width: 40rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 1rem 30rem;
border: 1px solid;
    
    
}

.warning-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.warning-content {
    /* background: white; */
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    text-align: center;
}

.warning-content button {
    margin: 10px;
}

.cancel-icon{
    border: 1px solid rgb(74, 74, 74);
    border-radius: 100%;
    padding: .4rem;
    width: fit-content;
    margin-left: 35rem;
    margin-top: 1rem;
}

.warning-icon{
    margin-left: 18rem;
    
}

/* ExitPage.css */
.exit-page {
    padding: 20px;
    text-align: center;
}