.student-signup-container {
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.student-signup-form {
    background-color: #fff;
    border-radius: 2rem;
    padding: 2rem;
    width: 20rem;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px 0 10px  rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.std-signup-label-card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1rem;

}

.std-signup-label1 {
    position: absolute;
    top: -15%;
    right: 82%;
    z-index: 1;
    background-color: white;
    width: fit-content;
    font-size: .6rem;
}

.std-signup-label2 {
    position: absolute;
    top: -15%;
    right: 88%;
    z-index: 1;
    background-color: white;
    width: fit-content;
    font-size: .6rem;
}

.std-signup-input {
    position: relative;
    padding: .8rem 4rem;
    /* width: 15rem; */
    border: 1px solid gray;
    border-radius: 5px;
}

.std-signup-input[type='text']:focus {
    border-color: 2px solid rgba(10, 101, 204, 1);
}

.eye-icon {
    position: relative;
}

.std-inp-for-pawd {
    padding: .8rem 4.85rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.std-inp-for-pawd::placeholder {
    text-align: left;
    font-size: .6rem;
    position: absolute;
    right: 72%;
}

.student-signup-forgot-pwd a {
    text-decoration: none;
    font-size: .8rem;
}

.std-signup-checked {
    display: flex;
}

.std-signup-checked p {
    font-size: .8rem;
}

/* .checked{
    border: 4px solid gray;
} */

.student-signup-btn {
    padding: .8rem 4.85rem;
    /* width: 18rem; */
    border: none;
    background-color: #0a65cc;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    transition: transform 0.3s ease;
}

.student-signup-btn a{
    text-decoration: none;
    color: #fff;
}

.student-signup-btn:hover{
    background-color: #fff;
    color: #0a65cc;
    border: 1px solid #0a65cc;
}

.std-signup-google {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(236, 233, 233);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
   cursor: pointer;
   padding: .2rem;
    font-size: .8rem;
}

.std-signup-google img{
width: 20px;
}

.std-signup-google p{
    font-size: .7rem;
}

.std-signup-p-link {
    font-size: .8rem;

}

.std-signup-p-link a {
    color: rgba(10, 101, 204, 1);
    text-decoration: none;
}

.std-sign-org a {
    text-decoration: none;
    font-size: .8rem;
}