.student-login-container {
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.student-login-form {
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px 0 10px  rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.std-login-label-card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1rem;

}


.std-login-label2 {
    position: absolute;
    top: -15%;
    right: 88%;
    z-index: 1;
    background-color: white;
    width: fit-content;
    font-size: .6rem;
}

.std-login-input {
    position: relative;
    padding: .8rem 4.8rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.std-login-input[type='text']:focus {
    border-color: 2px solid rgba(10, 101, 204, 1);
}


.std-inp-for-pawd-login {
    padding: .8rem 4.85rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.std-inp-for-pawd-login::placeholder {
    text-align: left;
    font-size: .6rem;
    position: absolute;
    right: 72%;
}

.student-login-forgot-pwd a {
    text-decoration: none;
    font-size: .8rem;
}

.std-login-checked {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    margin-bottom: .6rem;
}

.std-login-checked p {
    font-size: .8rem;
}


.student-login-btn {
    padding: .8rem 4.85rem;
    border: 1px solid;
    background-color: #0a65cc;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    transition: transform 0.3s ease;
}

.student-login-btn:hover {
    background-color: #fff;
    color: #0a65cc;
    border: 1px solid #0a65cc;
}

.std-login-google {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(236, 233, 233);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: .2rem;
    font-size: .8rem;
    cursor: pointer;
}

.std-login-google img{
    width: 20px;
}

.std-login-google p{
    font-size: .7rem;
}

.std-login-p-link {
    font-size: .8rem;

}

.std-login-p-link a {
    color: rgba(10, 101, 204, 1);
    text-decoration: none;
}

.std-login-org a {
    text-decoration: none;
    font-size: .8rem;
}