/* Defaults*/
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg);
  font-family: "Epilogue", sans-serif;
}

:root {
  --primary: #0a65cc;
  --bg: #f3f3f3;
  --box: #fff;
  --text: #8f8f8f;
}

/*Navbar*/
.navbar-container {
  width: 100%;
  background: #e4e1e1;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  background: #e4e1e1;
  padding-top: 1rem;
}

.navbar-logo {
  cursor: pointer;
  margin-left: 2.8rem;
  width: 150px;
}

.navbar-links ul {
  list-style: none;
  border-bottom: 1px solid #cecbcb;
  background: #e4e1e1;
}

.navbar-links ul li {
  display: inline-block;
  margin: 0.5rem 1rem 0 0.5rem;
  color: #818080;
  font-size: 1.1rem;
  border: 3px solid transparent;
  cursor: pointer;
  padding-bottom: 0.6rem;
}

.navbar-links ul .active {
  color: #000;
  border-bottom: 3px solid #0a65cc;
}

.navbar-links ul li:hover {
  border-bottom: 3px solid #0a65cc;
}

.nav-text {
  padding-left: 2rem;
  font-size: 1.5rem;
  color: #0a65cc;
}

.search-box {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 1.7rem;
}

.search-box input {
  background: #fff;
  outline: 0;
  border: 1px solid #cecbcb;
  border-radius: 2rem;
  font-size: 1rem;
  padding: 0.8rem;
  width: 700px;
}

.search-icon {
  color: #818080;
}

.search-box input::placeholder {
  padding-left: 2.5rem;
  color: #8f8f8f;
}

.search-box .search-icon {
  position: absolute;
  width: 20px;
  cursor: pointer;
  padding-left: 1rem;
}

.nav-text-link {
  font-size: 1.2rem;
  color: #818080;
  padding-left: 1.5rem;
}

.notification-icon,
.user-icon {
  margin-left: 2rem;
  color: #818080;
  height: 25px;
}
/*Welcome*/
Link {
  color: var(--box);
  text-decoration: none;
}

.dash {
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}
/*welcome head*/
.header {
  width: 100%;
  height: 5rem;
  margin: 2rem 0 0 0;
}

.header-position {
  float: right;
}

.header-logo {
  width: 11rem;
  margin-right: 3rem;
}

.header-text {
  color: var(--primary);
  margin-left: 9rem;
}

/*welcome body*/
.welcome-title {
  margin-left: 3rem;
}

.welcome-title h1 {
  font-size: 2.9rem;
  margin-bottom: 0.8rem;
  line-height: 1;
  letter-spacing: 1;
  color: var(--primary);
}

.welcome-title span {
  font-size: 1.3rem;
}

.welcome-title p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5rem 0 2rem 0;
}

.category-box ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-box ul li {
  width: 20rem;
  height: 13.5rem;
  border: 1px solid #e4e1e1;
  background-color: var(--box);
  border-radius: 1rem;
  margin-right: 3rem;
}

.category-box ul li .category-icon {
  display: block;
  font-size: 1rem;
  height: 2rem;
  margin: 3rem 0 2.5rem 2rem;
  cursor: pointer;
}

.category-arrow {
  margin: 0 0 0 1rem;
}

.category-box ul li span {
  margin: 0 0 0 2rem;
  font-weight: bold;
  cursor: pointer;
}

.category-box ul li p {
  margin: 1rem 0 0 2rem;
  color: var(--text);
  cursor: pointer;
}

.category-box ul li:hover {
  background-color: var(--primary);
  color: #fff;
  transform: scale(1.067);
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}
.category-box ul li:hover p {
  color: #fff;
  transition: all 0.6s ease-in-out;
}

/* select courses starts here! */
.course-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 100%;
  width: 100vw;
  margin: 2rem 4rem 2rem 4rem;
}

.course-header-text {
  font-weight: bolder;
  font-size: 1.4rem;
}
.c11,
.c22,
.c33 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  /* flex: 1; */
  margin-right: 1rem;
}

p.course-text:hover {
  background-color: rgb(52, 28, 229);
  color: #fff;
}

.course-title {
  margin-right: 3rem;
  display: flex;
  gap: 9rem;
  flex-wrap: wrap;
}

p.course-text {
  font-size: 0.8rem;
  border: none;
  padding: 0.8rem;
  color: rgba(8, 33, 51, 1);
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border-radius: 2px;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.course-btn {
  display: flex;
  justify-content: end;
  gap: 0.8rem;
  margin-left: 67rem;
  /* border: 1px solid; */
  width: fit-content;
  padding: 0.8rem 0;
}

.course-link-btn {
  padding: 1rem 1.8rem;
  color: #0a65cc;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bolder;
  border: none;
}

.course-link-btn2 {
  padding: 1rem 1rem;
  color: #fff;
  background-color: #0a65cc;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bolder;
}

.course-link-btn,
.course-link-btn2 {
  text-decoration: none;
}
/*Star Rating*/
.star-rating{
  color: gold;
  margin: 0 .7rem 0 .7rem;
}
/* Back-color*/
.back-color {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.left,
.right {
  position: absolute;
  height: 100vh;
}

.left {
  background-color: #f8f8fd;
  left: 0;
  width: 100%;
}

.right {
  background-color: #adccee;
  right: -65rem;
  border-radius: 0 0 0 5%;
  top: 0;
  width: 120%;
  height: 150%;
  transform: rotate(36deg);
}

/*Footer*/
.footer-container{
  background-color: #021429;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50vh;
  padding: 3rem 0;
  gap: 5rem;
}

.footer-first img{
  width: 100px;
}

.footer-first-text{
  width: 400px;
  font-size: .8rem;
}



/* Mobile Responsiveness */
@media screen and (max-width: 450px) {
  .header {
    width: 100%;
    height: 5rem;
  }
  .header-logo {
    width: 6rem;
    margin-left: 5rem;
  }
  .header-text {
    margin-left: 7rem;
  }
  .welcome-title {
    margin-left: 2rem;
  }
  .welcome-title h1 {
    font-size: 2rem;
  }
  .welcome-title span {
    font-size: 1.2rem;
  }
  .welcome-title p {
    font-size: 1.2rem;
    margin-left: 7rem;
  }

  .category-box ul {
    display: block;
    justify-content: center;
  }
  .category-box ul li {
    width: 15rem;
    height: 13.5rem;
    margin-left: 3.5rem;
    margin-bottom: 1.5rem;
  }

  .category-box .category-icon {
    height: 1rem;
  }
  .category-box span {
    font-size: 1.5rem;
  }
  .category-box p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 376px) {
  .header {
    width: 100%;
    height: 5rem;
  }
  .header-logo {
    width: 6rem;
    margin-left: 5rem;
  }
  .header-text {
    margin-left: 7rem;
  }
  .welcome-title {
    margin-left: 2rem;
  }
  .welcome-title h1 {
    font-size: 2rem;
  }
  .welcome-title span {
    font-size: 1.2rem;
  }
  .welcome-title p {
    font-size: 1.2rem;
    margin-left: 4rem;
  }

  .category-box ul {
    display: block;
    justify-content: center;
  }
  .category-box ul li {
    width: 15rem;
    height: 13.5rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }

  .category-box .category-icon {
    height: 1rem;
  }
  .category-box span {
    font-size: 1.5rem;
  }
  .category-box p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 770px) {
  .category-box ul li {
    width: 15rem;
    margin-right: 1rem;
  }
}

/* MEDIA QUERY FOR SELECT COURSE PAGE */
@media (max-width: 768px) {
  .course-title {
    flex: 100%;
    margin: 0;
  }

  .course-container {
    display: flex;
    flex-direction: column;

    /* max-width: 100%;
    width: 100vw; */
    margin: 0;
  }

  .course-btn {
    margin: 0;
  }
}
