/* Defaults*/
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg);
  font-family: "Epilogue", sans-serif;
}

:root {
  --primary: #0a65cc;
  --bg: #f3f3f3;
  --box: #fff;
  --text: #8f8f8f;
}


/* LANDING PAGE STARTS HERE!!! */
.landing-hero-section{
display: flex;
flex-direction: column;
align-items: center;
height: 100%;
}


.hero-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin:2rem 0 2rem 0;
}

.left-hero {
  margin-left: 10rem;
  margin-top: 0;
}

.left-hero p {
  font-size: 2rem;
  color: #0d1fa1;
  font-weight: 600;
  margin-bottom: 5rem;
}

.hero-texts h3 {
  font-size: 3.5rem;
  color: #0a65cc;
  width: 35rem;
}

.hero-texts p {
  color: rgba(0, 3, 61, 1);
  font-size: 1rem;
  width: 26rem;
  line-height: 1.6;
}

.hero-texts span {
  color: rgba(0, 3, 61, 1);
}

.landing-hero-image {
  width: 600px;
  margin-top: 0rem;
  margin-bottom: 3rem;
  margin-left: 6rem;
  /* box-shadow: 0 2px 5px 5px rgb(197, 197, 197); */
}

.hero-attachment {
  border: 1px solid rgb(183, 187, 215);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 36rem;
  border-radius: 3px;
  padding: 0 .8rem;
  margin-left: 15rem;
  margin-bottom: 1rem;

}

.arrow-down {
  width: 10px;
  height: 10px;
}

.hero-attachment p {
  font-size: .6rem;
}

.hero-attachment img {
  width: 40px;
}

.hero-attachment h4 {
  font-size: .6rem;
}

.landing-btn {
  width: 4rem;
  font-size: .6rem;
  background-color: rgba(10, 101, 204, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.8rem;
  gap: .2rem;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 .2rem;
  margin-left: .4rem;
  font-weight: 600;
}

.landing-btn:hover {
  background-color: rgba(248, 248, 253, 1);
  border: 1px solid rgba(10, 101, 204, 1);
  color: rgba(10, 101, 204, 1);
  transition: all 0.3s ease-in-out;
}

.white-btn {
  background-color: rgba(248, 248, 253, 1);
  border: 1px solid rgba(10, 101, 204, 1);
  color: rgba(10, 101, 204, 1);
  cursor: pointer;
}

.show-more {
  border: 1px solid;
  padding: .2rem;
}


.white-btn:hover {
  background-color: rgba(10, 101, 204, 1);
  color: rgba(255, 255, 255, 1);
}


.landing-section1 {
  background-color: rgba(206, 224, 245, 1);
  padding: 2rem 10rem;
  margin-top: 1rem;
}

.landing-section1 h5,
.landing-section2 h5,
.landing-section3 h5,
.landing-section4 h5,
.landing-testimonials h5,
.landing-socials h5 {
  color: rgba(10, 101, 204, 1);
  font-size: 1.4rem;
}

.landing-section1 h4,
.landing-section2 h4,
.landing-section3 h4,
.landing-section4 h4,
.landing-testimonials h4 {
  font-size: 1.6rem;
  width: 30rem;
  line-height: 1.4;
}

.product-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  width: 15rem;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 0 15px 2px rgb(179, 179, 179);
  margin-top: 2rem;
}

.card:active {
  box-shadow: 0 2px 8px 10px rgb(202, 202, 202);
}

.card p {
  font-size: .8rem;
}


.arrow-btn {
  display: flex;
  gap: .2rem;
  cursor: pointer;
}

.arrow-btn:active {
  background-color: rgba(10, 101, 204, 1);
  color: #fff;
  padding: .2rem .6rem;
}

.arrow-btn img {
  width: 15px;
}


.arrow-btn p {
  color: rgba(7, 67, 136, 1);
  font-weight: bold;
}


.landing-section2 {
  background-color: rgba(206, 224, 245, 1);
  padding: 2rem 10rem;
  display: flex;
  gap: 4rem;
}

.card-top {
  display: flex;
  gap: 2rem;
  margin-top: 0;
}

.mini-card {
  margin-right: 2rem;
}

.mini-card p {
  font-size: .8rem;
  width: 12.5rem;
  line-height: 1.4;
}


.landing-woman {
  width: 500px;
  margin: 2rem 0;
}


.landing-section3 {
  padding: 2rem 10rem;
}

.tutor-row {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 1rem;

}

.tutor-card p {
  text-align: center;
  font-size: .6rem;
  color: rgba(170, 67, 53, 1);
}

.align-text {
  text-align: center;
}


.landing-section4 {
  background-color: rgba(206, 224, 245, 1);
  padding: 2rem 10rem;
}

.reduce-size {
  font-size: .8rem;
}

.landing-testimonials {
  padding: 2rem 10rem;
}

.testimonial-cards {
  display: flex;
}

.tee-card {
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem 1.8rem;
  margin-left: 4rem;

}

.tee-card {
  box-shadow: 5px 5px 10px rgb(158, 158, 158), -5px 5px 10px gray;
  margin-top: 2rem;
}

.tee-card h6 {
  font-size: 1.2rem;
  margin: 0;
  margin-top: .8rem;
}

.test-quote {
  width: 17rem;
  font-size: .8rem;
  font-weight: 500;
  line-height: 1.4;
}

.mark-image {
  width: 15px;
}

.landing-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin: 4rem auto;
}


.landing-socials h4 {
  font-size: .7rem;
  line-height: 1.4;
  width: 16rem;
}

.landing-socials h5 {
  margin: 0;
}

.social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.social-row img,
.tee-card,
.card {
  transition: transform 0.3s ease;
}

.social-row img:hover,
.tee-card:hover,
.card:hover {
  transform: scale(1.2);
}


/* EXPLORE STARTS HERE!!! */
.Explorebody-side {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  height: auto;
}

.sidebar-container {
  margin-top: 0;
}


.ex-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 2rem 1rem;
  padding: 0 1rem;
}

.ex-saved-card-row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.ex-it-image {
  width: 350px;
}

.ex-saved-title-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.ex-general-course-title {
  width: 18rem;
  line-height: 1.4;
  font-size: 1rem;
  color: rgba(37, 50, 75, 1);
  margin: 0 1rem;
}

.ex-saved-user {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.ex-saved-star-left,
.ex-saved-user-count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4rem;
}

.ex-saved-user p {
  font-size: .7rem;
}

.ex-saved-user-count span {
  font-size: .7rem;
  color: rgba(168, 173, 183, 1);
}

.ex-saved-star-left img,
.ex-saved-user-count img {
  width: 15px;
}

.number-slider {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  margin-bottom: 2rem;
  /* margin-left: rem; */
  padding-left: .4rem;
  padding-right: .4rem;
  cursor: pointer;
}

.number-slider img {
  width: 15px;
}

.number-slider p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .6rem;
  border-radius: 50%;
  border: 1px solid rgb(202, 202, 202);
  color: rgba(37, 50, 75, 1);
}

.number-slider p:active {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(10, 101, 204, 1);

}

.number-slider p:hover {
  background-color: rgba(255, 102, 54, 1);
  color: rgba(255, 255, 255, 1);
}

.number-slider img:active {
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem .6rem;
}

.search-field {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 1.7rem;
  width: 25rem;
  border-radius: 5px;
  position: relative;
}

.search-field input {
  background: #fff;
  outline: 0;
  border: 1px solid #cecbcb;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.8rem;
  width: 100%;
  padding-right: 2rem;
  box-sizing: border-box;
}

.font-icon {
  color: rgba(255, 255, 255, 1);
  margin-left: 2rem;
  height: 25px;
}

.search-field input::placeholder {
  padding-left: 2.5rem;
  color: #8f8f8f;
}

.search-field .search-icon {
  position: absolute;
  width: 20px;
  cursor: pointer;
  padding-left: 1rem;
  pointer-events: none;
}

.explore-bar {
  display: flex;
  justify-content: space-between;
}

.left-align {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.filter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-left: rem;
  cursor: pointer;
  padding: 0 1rem;
}

.filter-number {
  font-weight: 500;
}

.filter-number:active {
  background-color: #0a65cc;
  padding: .2rem;
}

.filter-box:active {
  border: 1px solid rgba(255, 102, 54, 1);
  margin-left: .8rem;
}

.filter-box .filter-number:active {
  background-color: rgba(10, 101, 204, 1);
  color: #fff;
}

.filter-box .filter:active {
  color: rgba(10, 101, 204, 1);
}

.filter-box img {
  width: 20px;
}

.trending {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}

.inner-trending {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 0 1rem;

}

.inner-trending img {
  width: 15px;
}

.suggestion-box {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.suggestion {
  display: flex;
  align-items: center;
  gap: .6rem;
}

.suggestion-head {
  color: rgba(10, 101, 204, 1);
  font-size: .8rem;
}

.suggestion-number {
  font-size: .8rem;
}


/* ExMain Reusable starts here */
.general-course-title {
  line-height: 1.5;
}

/* EXPLORE ASIDE */
.aside-container {
  width: 18.84rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.aside-category-head,
.aside-tech-check {
  display: flex;
  justify-content: space-between;
  padding: .4rem;
  width: 18rem;
}

.aside-category-head {
  border: 1px solid #e7e7e7;
}

.aside-tech-check {
  display: flex;
  gap: 1.2rem;
  cursor: pointer;
}

.aside-tech {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
  font-size: .6rem;
}

.aside-tech:active {
  color: rgba(10, 101, 204, 1);
}

.numbers-and-arrow {
  font-size: .6rem;
}

.aside-tech img {
  width: 20px;
}

.aside-star {
  width: 12px;
  height: 15px;
}


.aside-price {
  display: flex;
  gap: 4rem;
  padding: .4rem;
}

.aside-price p {
  border: 1px solid rgb(241, 241, 241);
  padding: .4rem;
  width: 6.2rem;
  cursor: pointer;
  text-align: left;
  font-size: .6rem;
}

.aside-price p span {
  color: rgba(124, 132, 147, 1);
}

/* .slider-container{
  position: relative;
}

.slider-container .slider1{
  margin-left: 1rem;
  position: absolute;
} */


/* THIS NEEDS WORK!!! */
/* .slider-container .slider1{
  direction: rtl;
} */

.aside-all-bg {
  background-color: rgba(255, 255, 255, 1);
}


/* Footer starts here */
.saved-footer {
  background-color: rgba(2, 20, 41, 1);
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  gap: 10rem;
  border-radius: 0 0 10px 15px;
  height: 23rem;
  width: 100%;
}

.saved-footer-first,
.saved-footer-second,
.saved-footer-third,
.saved-footer-fourth,
h3 {
  color: rgba(37, 50, 75, 1);
}

.saved-footer-first img {
  width: 100px;
}

.saved-footer-first p {
  width: 400px;
  line-height: 1.8;
  color: rgba(81, 91, 111, 1);
  font-size: .8rem;
}

.saved-footer-help p {
  font-size: .8rem;
}

.saved-footer-first,
.saved-footer-second,
.saved-footer-third,
.saved-footer-fourth {
  color: rgba(81, 91, 111, 1);
  cursor: pointer;
}

.saved-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .6rem;
}

.saved-socials img {
  width: 20px;
}

.saved-footer-fourth {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
}

.saved-general-container {
  border-radius: 10px;
}



/*Navbar*/
.navbar-container {
  width: 100%;
  background: #e4e1e1;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  background: #e4e1e1;
  padding-top: 1rem;
}

.navbar-logo {
  cursor: pointer;
  margin-left: 2.8rem;
  width: 150px;
}

.navbar-links ul {
  list-style: none;
  border-bottom: 1px solid #cecbcb;
  background: #e4e1e1;
}

.navbar-links ul li {
  display: inline-block;
  margin: 0.5rem 1rem 0 0.5rem;
  color: #818080;
  font-size: 1.1rem;
  border: 3px solid transparent;
  cursor: pointer;
  padding-bottom: 0.6rem;
}

.navbar-links ul .active {
  color: #000;
  border-bottom: 3px solid #0a65cc;
}

.navbar-links ul li:hover {
  border-bottom: 3px solid #0a65cc;
}

.nav-text {
  padding-left: 2rem;
  font-size: 1.5rem;
  color: #0a65cc;
}

.search-box {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 1.7rem;
}

.search-box input {
  background: #fff;
  outline: 0;
  border: 1px solid #cecbcb;
  border-radius: 2rem;
  font-size: 1rem;
  padding: 0.8rem;
  width: 700px;
}

.search-icon {
  color: #818080;
}

.search-box input::placeholder {
  padding-left: 2.5rem;
  color: #8f8f8f;
}

.search-box .search-icon {
  position: absolute;
  width: 20px;
  cursor: pointer;
  padding-left: 1rem;
}

.nav-text-link {
  font-size: 1.2rem;
  color: #818080;
  padding-left: 1.5rem;
  /* margin-left: 2.5rem; */
}

.notification-icon,
.user-icon {
  margin-left: 2rem;
  color: #818080;
  height: 25px;
  cursor: pointer;
}

/*Welcome*/
Link {
  color: var(--box);
  text-decoration: none;
}

.dash {
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

/*welcome head*/
.header {
  width: 100%;
  height: 5rem;
  margin: 2rem 0 0 0;
}

.header-position {
  float: right;
}

.header-logo {
  width: 11rem;
  margin-right: 3rem;
}

.header-text {
  color: var(--primary);
  margin-right: 3.5rem;
  float: right;
}

/*welcome body*/
.welcome-title {
  margin-left: 3rem;
}

.welcome-title h1 {
  font-size: 2.9rem;
  margin-bottom: 0.8rem;
  line-height: 1;
  letter-spacing: 1;
  color: var(--primary);
}

.welcome-title span {
  font-size: 1.3rem;
}

.welcome-title p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5rem 0 2rem 0;
}

.category-box ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-box ul li {
  width: 20rem;
  height: 13.5rem;
  border: 1px solid #e4e1e1;
  background-color: var(--box);
  border-radius: 1rem;
  margin-right: 3rem;
}

.category-box ul li .category-icon {
  display: block;
  font-size: 1rem;
  height: 2rem;
  margin: 3rem 0 2.5rem 2rem;
  cursor: pointer;
}

.category-arrow {
  margin: 0 0 0 1rem;
}

.category-box ul li span {
  margin: 0 0 0 2rem;
  font-weight: bold;
  cursor: pointer;
}

.category-box ul li p {
  margin: 1rem 0 0 2rem;
  color: var(--text);
  cursor: pointer;
}

.category-box .available-courses:hover {
  background-color: var(--primary);
  color: #fff;
  transform: scale(1.067);
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}

.category-box .available-courses:hover p {
  color: #fff;
  transition: all 0.6s ease-in-out;
}

/* select courses starts here! */
.course-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 100%;
  width: 100vw;
  margin: 2rem 4rem 2rem 4rem;
}

.course-header-text {
  font-weight: bolder;
  font-size: 1.4rem;
}

.c11,
.c22,
.c33 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  /* flex: 1; */
  margin-right: 1rem;
}

p.course-text:hover {
  background-color: #0a65cc;
  color: #fff;
}

.course-title {
  margin-right: 3rem;
  display: flex;
  gap: 9rem;
  flex-wrap: wrap;
}

p.course-text {
  font-size: 0.8rem;
  border: none;
  padding: 0.8rem;
  color: rgba(8, 33, 51, 1);
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border-radius: 2px;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.course-btn {
  display: flex;
  justify-content: end;
  gap: 0.8rem;
  margin-left: 67rem;
  width: fit-content;
  padding: 0.8rem 0;
}

.course-btn-link1 {
  text-decoration: none;
  border: 1px solid;
  padding: .6rem 1rem;
  border-radius: 3px;
  font-size: .7rem;
  cursor: pointer;
  font-weight: bold;
}

.course-btn-link2 {
  text-decoration: none;
  border: 1px solid;
  padding: .6rem .4rem;
  border-radius: 3px;
  font-size: .7rem;
  background-color: #0a65cc;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  cursor: pointer;
}



/*Star Rating*/
.star-rating {
  color: gold;
  margin: 0 .7rem 0 .7rem;
}

/* Back-color*/
.back-color {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.left,
.right {
  position: absolute;
  height: 100vh;
}

.left {
  background-color: #f8f8fd;
  left: 0;
  width: 100%;
}

.right {
  background-color: #adccee;
  right: -65rem;
  border-radius: 0 0 0 5%;
  top: 0;
  width: 120%;
  height: 150%;
  transform: rotate(36deg);
}

/*Footer*/
.footer-container {
  background-color: #021429;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50vh;
  padding: 3rem 0;
  gap: 5rem;
}

.footer-first img {
  width: 100px;
}

.footer-first-text {
  width: 400px;
  font-size: .8rem;
}



/* Mobile Responsiveness */
@media screen and (max-width: 450px) {
  .header {
    width: 100%;
    height: 5rem;
  }

  .header-logo {
    width: 6rem;
    margin-left: 5rem;
  }

  .header-text {
    margin-left: 7rem;
  }

  .welcome-title {
    margin-left: 2rem;
  }

  .welcome-title h1 {
    font-size: 2rem;
  }

  .welcome-title span {
    font-size: 1.2rem;
  }

  .welcome-title p {
    font-size: 1.2rem;
    margin-left: 7rem;
  }

  .category-box ul {
    display: block;
    justify-content: center;
  }

  .category-box ul li {
    width: 15rem;
    height: 13.5rem;
    margin-left: 3.5rem;
    margin-bottom: 1.5rem;
  }

  .category-box .category-icon {
    height: 1rem;
  }

  .category-box span {
    font-size: 1.5rem;
  }

  .category-box p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 376px) {
  .header {
    width: 100%;
    height: 5rem;
  }

  .header-logo {
    width: 6rem;
    margin-left: 5rem;
  }

  .header-text {
    margin-left: 7rem;
  }

  .welcome-title {
    margin-left: 2rem;
  }

  .welcome-title h1 {
    font-size: 2rem;
  }

  .welcome-title span {
    font-size: 1.2rem;
  }

  .welcome-title p {
    font-size: 1.2rem;
    margin-left: 4rem;
  }

  .category-box ul {
    display: block;
    justify-content: center;
  }

  .category-box ul li {
    width: 15rem;
    height: 13.5rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }

  .category-box .category-icon {
    height: 1rem;
  }

  .category-box span {
    font-size: 1.5rem;
  }

  .category-box p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 770px) {
  .category-box ul li {
    width: 15rem;
    margin-right: 1rem;
  }
}

/* MEDIA QUERY FOR SELECT COURSE PAGE */
@media (max-width: 768px) {
  .course-title {
    flex: 100%;
    margin: 0;
  }

  .course-container {
    display: flex;
    flex-direction: column;

    /* max-width: 100%;
    width: 100vw; */
    margin: 0;
  }

  .course-btn {
    margin: 0;
  }
}